/* light theme color variables */
$light-bg-main-color: #f5f5dc;
$light-theme-border-color: #ff8c00;
$light-theme-font-color: #2f2f2f;

/* dark theme color variables */

$dark-bg-main-color: #2f2f2f;
$dark-theme-border-color: #ff8c00;
$dark-theme-font-color: #f5f5dc;