@import './_variables.scss';
#root footer.footer {
    border-top: 3px solid $light-border-color;

    padding: 1rem;
    min-height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}