@import './_variables.scss';

body {

    margin: 0;
    padding: 0;

    ul {
        list-style: none;
        padding-left: 1rem;
    }

    #root {
        height: 100vh;

        .light {
            background-color: $light-bg-main-color;
        }

        .app-container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;


            .main {
                padding: 1rem;
                flex: auto;
            }
        }
    }
}